/apks
/static_analyze/18
/static_analyze/jar
/static_analyze/diffuse
/static_analyze/decompiled
/static_analyze/simidroid
/test
.DS_Store
/static_analyze/feature/topic_assign.csv
/static_analyze/feature/all.txt
/static_analyze/feature/methods
/static_analyze/feature/remove.txt
